@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #ec4755;
  --color-secondary: #a12c34;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full height of the viewport */
  background-color: #f4f4f4; /* Optional background color */
}

/* Styling the iframe to control size */
.video-wrapper iframe {
  width: 640px; /* Smaller width */
  height: 360px; /* Smaller height */
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetics */
  border-radius: 8px; /* Optional rounded corners */
}